
<main class="container position-relative">
  <div class="d-flex flex-row align-items-center justify-content-around">
    <!--LEFT column-->
    <div class="bg-secondary mr-4" id="left-col">
      <img src="img/devlr-logo.png" class="img-fluid logo mb-4 mx-auto" alt="devlr logo">
      <h1>devlr</h1>
      <div id="side-nav">
        <ul class="list-group">
          <li class="m-3"><a href="/home"><i class="material-icons">home</i> Home</li></a>
          <li class="m-3"><a href="#" data-toggle="modal" data-target="#editProfileModal"><i
                class="material-icons">dashboard</i> Edit Profile</li></a>
          <li class="m-3"><a href="#"><i class="material-icons">find_in_page</i> Browse</li></a>
          <li class="m-3"><a href="#"><i class="material-icons">star_border</i> Starred</li></a>
          <li class="m-3"><a href="#"><i class="material-icons">person_outline</i> Account</li></a>
          <li class="m-3"><a href="/logout"><i class="material-icons">keyboard_return</i> Logout</li></a>
        </ul>
      </div>
      <div class="d-flex flex-column align-items-center">
        <button class="btn btn-lg btn-secondary mt-3" id="newBtn" data-toggle="modal" data-target="#newPostModal">
          New
        </button>
        <div class="circle" id="userPic"></div>
        <h5 class="text-center name"></h5>
        <h6 class="text-center gitUserName"></h6>
        <!-- Button trigger appearance modal -->
        <button type="button" class="btn btn-lg btn-secondary mt-3" data-toggle="modal" data-target="#appearanceModal"
          id="appearanceBtn">
          <i class="material-icons">palette</i>Appearance
        </button>
        <!-- Appearance Modal -->
        <div class="modal fade gradient" id="appearanceModal" tabindex="-1" role="dialog"
          aria-labelledby="appearanceTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="appearanceTitle">Change Appearance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-dark theme m-2" id="222222">Dark</button>
                <button type="button" class="btn btn-light theme m-2" id="linen">Light</button>
                <button type="button" class="btn btn-keycap theme m-2" id="90959A">Keycap</button>
                <button type="button" class="btn btn-sand theme m-2" id="BBB092">Sand</button>
                <button type="button" class="btn btn-putty theme m-2" id="D4ADA9">Putty</button>
                <button type="button" class="btn btn-seaglass theme m-2" id="8FBC8F">Seaglass</button>
                <button type="button" class="btn btn-lagoon theme m-2" id="7FAEB9">Lagoon</button>
                <button type="button" class="btn btn-thistle theme m-2" id="9F879F">Thistle</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="saveTheme">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--MIDDLE Column-->
  <div class="bg-secondary m-3" id="middle-col">
    <div class="tab bg-secondary gradient bg-scroll" id="MyBackground">
      <h5>My Background</h5>
      <div class="separator mb-3"></div>
      <ul class="mb-2" id="backgroundWrapper">
        <li class="mb-1 gitUserName">"gitUserName"</li>
        <li class="mb-1 highestGraduation">"highestGraduation"</li>
        <li class="mb-1 school">"school"</li>
        <li class="mb-1 skills">"skills"</li>
        <li class="mb-1 experience">"experience"</li>
        <li class="mb-1 position">"position"</li>
        <li class="mb-1 company">company</li>
        <li class="mb-1 startDate">"startDate"</li>
        <li class="mb-1 endDate">"endDate"</li>
      </ul>
    </div>
    <div class="tab bg-secondary gradient" id="MyLanguages">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h5>My Languages</h5>
        <!-- Button trigger languages modal -->
        <button type="button" class="btn btn-secondary gradient mb-3" data-toggle="modal" data-target="#languagesModal">
          Choose Languages
        </button>

        <!-- Languages Modal -->
        <div class="modal fade gradient" id="languagesModal" tabindex="-1" role="dialog" aria-labelledby="languages"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="languages">Choose your languages:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="HTML5">HTML5
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="CSS3"> CSS3
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="SQL"> SQL
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="JavaScript"> JavaScript
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="TypeScript"> TypeScript
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="jQuery"> jQuery
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="Python"> Python
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="PHP"> PHP
                  </label>
                  <label class="btn btn-secondary langBtn m-2">
                    <input type="checkbox" name="langOpt" autocomplete="off" value="C"> C
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" id="saveLang">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div id="langDisplay"></div>
    </div>

    <div class="tab bg-secondary gradient" id="MyWall">
      <h5>My Wall</h5>
      <div class="separator"></div>
      <div class="tab bg-secondary mt-3 mb-1 gradient" id="postBox">
        <textarea placeholder="Title" id="title" rows="1"></textarea>
        <textarea id="wallPost" placeholder="What's on your mind?" rows="3"></textarea>
      </div>
      <button class="btn btn-sm btn-secondary mt-2" type="submit" id="postBtn">
        Post
      </button>
    </div>
    <div class="tab bg-secondary gradient feed">
      <h5>Feed</h5>
      <div class="separator mb-3"></div>
      <div class="col post" id="feed">
        </div>
      </div>
    </div>
  </div>

  <!--RIGHT Column-->

  <div class="bg-secondary m-3" id="right-col">
    <div class="tab bg-secondary gradient pp-scroll" id="PinnedProjects">
      <h5>My Pinned Projects</h5>
      <div class="separator"></div>
      <div class="mt-2">
        <h6>Project Title</h6>
        <p class="mb-2">This is where you can display your projects with data pulled from GitHub. Click on Edit Profile
          and add your GitHub username.</p>
      </div>
      <div class="separator"></div>
      <div class="mt-2">
        <h6>Project Title</h6>
        <p class="mb-2">This is where you can display your projects with data pulled from GitHub. Click on Edit Profile
          and add your GitHub username.</p>
      </div>
      <div class="separator"></div>
      <div class="mt-2">
        <h6>Project Title</h6>
        <p class="mb-2">This is where you can display your projects with data pulled from GitHub. Click on Edit Profile
          and add your GitHub username.</p>
      </div>
      <div class="separator"></div>
      <div class="mt-2">
        <h6>Project Title</h6>
        <p class="mb-2">This is where you can display your projects with data pulled from GitHub. Click on Edit Profile
          and add your GitHub username.</p>
      </div>
      <div class="separator"></div>
      <div class="mt-2">
        <h6>Project Title</h6>
        <p class="mb-2">This is where you can display your projects with data pulled from GitHub. Click on Edit Profile
          and add your GitHub username.</p>
      </div>
    </div>

    <div class="tab bg-secondary gradient" id="Featured">
      <h5>Featured Devs</h5>
      <div class="separator"></div>
      <div class="dev row align-items-center">
        <div class="circle mt-3" id="devPic"></div>
        <div class="ml-3 mt-3">
          <h5 class="text-center">user.id</h5>
          <h6 class="text-center">@user.name</h6>
        </div>
      </div>
      <div class="separator mt-3"></div>
      <div class="dev row align-items-center">
        <div class="circle mt-3" id="devPic"></div>
        <div class="ml-3 mt-3">
          <h5 class="text-center">user.id</h5>
          <h6 class="text-center">@user.name</h6>
        </div>
      </div>
      <div class="separator mt-3"></div>
      <div class="dev row align-items-center">
        <div class="circle mt-3" id="devPic"></div>
        <div class="ml-3 mt-3">
          <h5 class="text-center">user.id</h5>
          <h6 class="text-center">@user.name</h6>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- DYNAMIC COMPONENTS: modals, toasts -->

<!--Edit Profile Modal-->
<div class="modal fade gradient" id="editProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Profile</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="userName" placeholder="Dev Doe">
          </div>
          <div class="form-group">
            <label for="highestGraduation">Highest Graduation</label>
            <input type="text" class="form-control" id="userGraduation" placeholder="Masters">
          </div>
          <div class="form-group">
            <label for="school">School</label>
            <input type="text" class="form-control" id="userSchool" placeholder="Dev University">
          </div>
          <div class="form-group">
            <label for="skills">Skills</label>
            <input type="text" class="form-control" id="userSkills" placeholder="Relevant Skills">
          </div>
          <div class="form-group">
            <label for="experience">Experience</label>
            <input type="number" class="form-control" id="userExperience" placeholder="Years of Experience">
          </div>
          <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" id="userPosition" placeholder="Current Position">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="userCompany" placeholder="Company">
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="userStartDate" placeholder="MM/DD/YYYY">
          </div>
          <div class="form-group">
            <label for="startDate">End Date</label>
            <input type="date" class="form-control" id="userEndDate" placeholder="MM/DD/YYYY">
          </div>
          <div class="form-group">
            <label for="gitUserName">GitHub Username</label>
            <input type="text" class="form-control" id="userGitHub" placeholder="@username">
          </div>
          <button type="submit" class="btn btn-secondary gradient">Update Profile</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-small btn-secondary" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>

<!--New Post Modal-->
<div class="modal fade gradient" id="newPostModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4>New Post</h4>
      </div>
      <div class="modal-body">
      <div class="tab bg-secondary mt-3 mb-1 gradient" id="modalPostBox">
      <textarea id="modalWallPost" placeholder="What's on your mind?" style="font-size: 22px;" rows="5"></textarea>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-small btn-secondary gradient" data-dismiss="modal">Close</button>
        <button class="btn btn-small btn-secondary gradient">Submit</button>
      </div>
    </div>
  </div>
</div>

<!--Toasts-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/home.js"></script>