<div id="logIn">
  <div class="d-flex flex-row align-items-center justify-content-around">
    <div class="tab bg-secondary gradient">
      <h1>devlr</h1>
      <h4>Log In</h4>
      <div class="separator mt-4"></div>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span><span>Login error. Make sure your email<br> and password are entered
            correctly</span>
        </div>
        <button type="submit" class="btn btn-secondary gradient">Login</button>
      </form>
      <br />
      <h6>Or sign up <a href="/"><span style="font-weight: 300; text-decoration: underline;">here</span></a></h6>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>

</body>

</html>