
<main class="container position-relative">
  <div class="d-flex flex-row align-items-center justify-content-around">
    <!--LEFT column-->
    <div class="bg-secondary mr-4" id="left-col">
      <img src="img/devlr-logo-light.png" class="img-fluid logo mb-4 mx-auto circle" alt="devlr logo">
      <h1>devlr</h1>
      <div id="side-nav">
        <ul class="list-group">
          <li class="m-3"><a href="/home"><i class="material-icons">home</i>
              Home</li></a>
          <li class="m-3"><a href="#" data-toggle="modal" data-target="#editProfileModal"><i
              class="material-icons disabled">dashboard</i> Edit Profile</li></a>
          <li class="m-3"><a href="#" data-toggle="modal" data-target="#deleteAccountModal"><i 
              class="material-icons">person_outline</i>
              Account</li></a>
          <li class="m-3"><a href="/logout"><i class="material-icons">keyboard_return</i>
              Logout</li></a>
        </ul>
      </div>
      <div class="d-flex flex-column align-items-center">
        <button class="btn btn-lg btn-secondary mt-3 disabled" id="newBtn" data-toggle="modal" data-target="#newPostModal">
          New
        </button>
        <div class="circle" id="userPic"></div>
        <div>
        <h5 class="text-center name"></h5>
        <h6 class="text-center gitUserName"></h6>
        </div>

        
        <button type="button" class="btn btn-lg btn-secondary mt-3 disabled" data-toggle="modal" data-target="#appearanceModal"
          id="appearanceBtn">
          <i class="material-icons" style="font-size: 24px;">palette</i>Appearance
        </button>
      </div>
    </div>
  </div>

  <!--MIDDLE Column-->
  <div class="bg-secondary m-3" id="middle-col">
    <div class="tab bg-secondary gradient bg-scroll" id="MyBackground"> 
      <h5>Background</h5>
      <div class="separator mb-3"></div>
      <div id="backgroundInfo"></div>
    </div>
    <div class="tab bg-secondary gradient" id="MyLanguages"> 
      <div class="d-flex flex-row align-items-center justify-content-between">
        <h5>Languages</h5>

      </div> 
      <div class="separator"></div>
      <div id="langDisplay"></div>
    </div>

    <div class="tab bg-secondary gradient" id="MyWall">
      <h5>Wall</h5>
      <div class="separator"></div>
      <div class="tab bg-secondary mt-3 mb-1 gradient" id="postBox">
        <textarea placeholder="Title" id="postTitle" rows="1"></textarea>
        <textarea id="wallPost" placeholder="What's on your mind?" rows="3"></textarea>
      </div>
      <button class="btn btn-sm btn-secondary mt-2 dasabled" type="submit" id="postBtn">
        Post
      </button>
    </div>
    <div class="tab bg-secondary gradient feed">
      <h5>Feed</h5>
      <div class="separator mb-3"></div>
      <div class="row align-items-center comment"></div>
        <div class="col float-right mb-3" id= "post-div">
          <h6 id = "post-title">{{Profile.name}}</h6>
          <p id="post-body">
        </div>
      </div>
    </div>
  </div>

  <!--RIGHT Column-->
  <div class="bg-secondary m-3" id="right-col">
    <div class="tab bg-secondary gradient pp-scroll" id="PinnedProjects">
      <h5>Pinned Projects</h5>
      <div class="separator"></div>
    </div>

    <div class="tab bg-secondary gradient" >

      <h5>Featured Devs</h5>
      <div id="Featured"></div>
    </div>
  </div>
</main>


<script> const UserId = {{{ UserId }}} </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/profile.js"></script>